/* Sample code (single line only) from https://css-tricks.com/snippets/css/typewriter-effect/ */
/* GLOBAL STYLES */
body {
    background: #333;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  /* DEMO-SPECIFIC STYLES */
  .typewriter {
    margin-top: 200px;
    padding: 30px;
    width:600px;
  }
  
  .typewriter p {
    color: #fff;
    font-family: monospace;
    font-size:18px;
    text-align: left;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .3em solid limegreen; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    word-break: break-all;
    /* margin: 0 auto; Gives that scrolling effect as the typing happens */
    /* letter-spacing: .15em; Adjust as needed */
  }

  .typewriter p:nth-child(1){
    width: 19em;
    opacity: 0;
    animation: 
      typing 3.5s steps(30, end),
      blink .5s step-end infinite;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  .typewriter p:nth-child(2){
    width: 30em;
    opacity: 0;
    animation: 
      typing 4.5s steps(40, end),
      blink .5s step-end infinite;
    animation-delay: 4.5s;
    animation-fill-mode: forwards;
  }

  .typewriter p:nth-child(3){
    width: 21em;
    opacity: 0;
    animation: 
      typing 3.5s steps(30, end),
      blink .5s step-end infinite;
    animation-delay: 9.5s;
    animation-fill-mode: forwards;
  }

  #help-button {
    width: 6em;
    opacity: 0;
    color:limegreen;
    animation: 
      typing 1.5s steps(15, end),
      blink .5s step-end infinite;
    animation-delay: 13.5s;
    animation-fill-mode: forwards;
  }
  
  #help-button:hover{
    font-weight:bold;
    cursor:pointer;
  }

  /* The typing effect */
  @keyframes typing {
    0% {width: 0}
    1% {opacity:1}
    100% {opacity:1}
  }
  
  /* The typewriter cursor effect */
  @keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: limegreen }
  }

  /* @keyframes delete {
    0% {width: 100%; opacity:1}
    99% {opacity:0}
    100% {width: 0%}
  } */


/* My failed attempt */

/* html{
    height:100vh;
    overflow:hidden;
}

body{
    height:80vh;
    background-color: black;
    margin:30px;
}

.content{
    padding: 25x;
    display:flex;
    align-content: center;
    justify-content: center;
    height:100vh;
}

.txt-box {
    max-width: 700px;
    min-width: 400px;
    padding-left: 20px;
    color: whitesmoke;
    font-family: monospace;
    font-size: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    /* white-space: nowrap; */
    /* border-right: .15em solid limegreen;
    overflow: hidden;
    animation: typing 4s steps(30, end);
}

@keyframes typing {
    from {width:0%}
    to {width: 100%}
} */ 